{% extends 'base.html.twig' %}

{% block title %}Forget Password{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('product_index') }}">Home</a></li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ol>
            </div>
        </div>
        {% if email is defined %}
            <div class="alert alert-dismissible alert-success p-lg-5">
                {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                <strong> Confirmation Email send !</strong>please verify your Email.
            </div>

            {#<div class="card text-white bg-success" style="max-width: 30rem;margin: auto;">
                <div class="card-header">Confirmation Email send</div>
                <div class="card-body">
                    <h4 class="card-title">Confirmation Email send</h4>
                    <p class="card-text">please verify your Email</p>
                </div>
            </div>#}

        {% else %}
            <div class="card bg-secondary" style="max-width: 30rem;margin: auto;">
                <div class="card-header">Forget Password</div>
                <div class="card-body">
                    {% if email_error is defined and email_error is not null %}
                        <div class="alert alert-dismissible alert-primary">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Oh snap!</strong> {{ email_error }}.
                        </div>
                    {% endif %}
                    <form method="post" action="{{ path('forget_password') }}">
                        <div class="form-group" class="required">
                            <label for="fp_form_email">Email</label>
                            <input class="form-control" id="fp_form_email" type="email" name="email" placeholder="Email" required>
                            <input type="hidden" name="_token" value="{{ csrf_token('forget_password' ~ random_nb) }}">
                            <input type="hidden" name="id" value="{{ random_nb }}">
                        </div>
                        <div class="form-group" class="required">
                            <button class="btn btn-danger btn-lg btn-block">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}