{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#{{ form_label(form.name,'Vor- und Nachname') }}#}
        {#{{ form_errors(form.name) }}#}
        {#{{ form_widget(form.name) }}#}
    {#</div>#}
    {{ form_errors(form) }}
    {{ form_row(form.name,{attr:{'placeholder':'Product Name'}}) }}
    {{ form_row(form.price,{attr:{'placeholder':'00 $'}}) }}
    {{ form_row(form.description,{attr:{'placeholder':'description ...'}}) }}
    <div class="form-group">
        <label id="categories">Category</label>
        <select name="categories" class="form-control" id="categories">
            <option value=""></option>
            {% for cat in category_management.getCategories() %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor  %}
        </select>
    </div>
    {#{{ form_widget(form.save) }}#}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
