{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="container mt-3">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Home</a></li>
                <li class="breadcrumb-item active">Reset Password</li>
            </ol>
        </div>
    </div>
    <h1>Reset Password</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password,{attr:{'placeholder':'password'}}) }}
        {{ form_row(form.confirmPassword,{attr:{'placeholder':'confirm Password'}}) }}

        <button class="btn btn-primary">Reset</button>
    {{ form_end(form) }}
    </div>
{% endblock %}